@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p>Small text change.</p>

<p>More text changes.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
